.container {
    display: flex;
    z-index: 10;
}

.appointmentPanel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 20;
    display: none;
}

.appointmentPanel-shown {
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    background-color: gray;
    opacity: 0.5;
    display: none;
}

.overlay-shown {
    display: block;
}